<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>webservice</display-name>
  <!-- UTF-8 configuration:
       
       The URL query and hash parameters might have UTF-8 characters in them. For that reason,
       for 100% compatibility, the URI should be parsed as if using a UTF-8 character set.
       
       For Tomcat, in the configuration directory, within server.xml
       
       For all active <Connector...> entries, add
       
       URIEncoding="UTF-8"
       
       i.e.
         <Connector ... URIEncoding="UTF-8"/>
         
    -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>